@import url(./style.css);


.header-container {
  height: 50px;
}

.header-container h1 {
  padding: 10px 0;  
}

.header-container .navbar > ul >li > a {
  padding: 5px;
  margin: 5px;
  line-height: 20px;
}

main > header > h2 {
  text-align: center;
  padding: 30px 0;
  color: var(--color-yellow);   
} 

table {
  padding:10px;
  margin: 0 auto;
}

table tr th {
  color: var(--color-yellow);
  font-size: .6rem;
  padding: 7px;
}

table tr {
  min-width: 100px;
  max-width: 500px;
  text-align: center;
}

table tr > td {
  padding: 4px;
  color: var(--color-navy);
  font-size: .5rem;
}