* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

body > header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: lightskyblue;
  height: 50px;
}

body > header > nav > ul {
  list-style: none;
  display: flex;
}

body > header > nav > ul > li {
  padding: 0 10px;
}

body > header > nav > ul > li > a {
  text-decoration: none;
  color: white;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}